/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header nav {
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 15px; /* Добавляем горизонтальный padding для nav */
        justify-content: center; /* Распределяем пространство между логотипом и навигацией */
    }

    header nav ul {
        /* margin-top: 15px; */
        justify-content: center;
        flex-wrap: nowrap;
        gap: 15px; /* Увеличиваем отступ между элементами для мобильных */
    }

    header nav ul li {
        min-width: 0; /* Позволяем элементам списка сжиматься */
        flex-shrink: 1; /* Позволяем элементам списка сжиматься */
        text-align: center; /* Центрируем текст кнопки */
    }

    .logo {
        font-size: 1.5em;
        flex-shrink: 1; /* Позволяем логотипу сжиматься */
    }

    #hero h1 {
        font-size: 2.5em;
    }

    #hero p {
        font-size: 1.2em;
    }

    .btn {
        padding: 12px 25px;
        font-size: 1em;
    }

    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab-button {
        width: 90%;
        max-width: 300px;
    }

    header nav ul li .nav-button {
        white-space: nowrap;
        padding: 10px 15px;
        font-size: 0.8em; /* Дополнительно уменьшаем размер шрифта */
        flex-shrink: 1; /* Позволяем кнопкам сжиматься */
        min-width: 0; /* Позволяем кнопке сжиматься до минимального размера */
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .portfolio-item img {
        height: 180px;
    }

}